body {
    height: 100%;
    font-family: 'Lato', sans-serif !important;
}

#content {
    text-align: center;
    color: white;
}

body {
    background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80) no-repeat fixed center;
    background-size: cover;
}

.row {
    margin-top: -70px;
    padding: 70px;
}

hr {
    width: 55% !important;
    border-top: 1px solid white !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.nav-link.active {
    background-color: transparent !important;
    border-bottom-color: #f8f9fa !important;
}

h1{
    font-size: 5em !important;
    font-weight: 700 !important;
}

h1, h3 {
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.95),
                 1px 6px 10px rgba(0, 0, 0, 0.4),
                 1px 6px 15px rgba(0, 0, 0, 0.1) !important;
}

.btn {
    background-color: #f8f9fa;
}